<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
            http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">


    <display-name>Servlets Tutorial</display-name>
    <context-param>
        <param-name>greet</param-name>
        <param-value>Hello</param-value>
    </context-param>

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.mywebapp.hello.HelloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GETPOST</servlet-name>
        <servlet-class>com.mywebapp.getpost.GETPOSTServlet</servlet-class>
        <init-param>
            <param-name>technology</param-name>
            <param-value>servlets</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>GETPOST</servlet-name>
        <url-pattern>/getpost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Source</servlet-name>
        <servlet-class>com.mywebapp.communication.Source</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Source</servlet-name>
        <url-pattern>/source</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Destination</servlet-name>
        <servlet-class>com.mywebapp.communication.Destination</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Destination</servlet-name>
        <url-pattern>/destination</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TimeServlet</servlet-name>
        <servlet-class>com.mywebapp.communication.TimeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TimeServlet</servlet-name>
        <url-pattern>/time</url-pattern>
    </servlet-mapping>


</web-app>

